<%content_for(:html_title){@book.title}%>
<h1 class="title is-2 ml-5"><%=@book.title%></h1>
<div class="columns">
  <div class="column is-flex is-justify-content-space-between">
    <img style="width: 300px; height: 400px; object-fit: cover;" class="ml-5" src="https://covers.openlibrary.org/b/id/<%=@book.cover_identifier%>-L.jpg" alt="<%=@book.title%> Cover Art">
    <ul>
      <li style="width: 80%;" class="block is-family-code ml-5 is-size-5"><%=@book.description%></li>
      <li class="is-family-code ml-5 is-size-5">Author(s):</li>
      <%@book.authors.each do |author|%>
        <li class="is-family-code ml-5 is-size-5"><%= link_to author.author_name, author%></li>
      <%end%>
      <li class="block is-family-code ml-5 mt-5 is-size-5">First Publish Year: <%=@book.first_publish_year%></li>
      <li class="block is-family-code ml-5 is-size-5">Edition Count: <%=@book.edition_count%></li>
      <li class="block is-family-code is-capitalized ml-5 is-size-5">Genre: <%=@book.subject%></li>
    </ul>
  </div>
</div>
