<%content_for :title, @author.author_name%>
<h1 class="title is-2 ml-5"><%=@author.author_name%></h1>
<div class="columns">
  <div class="column is-flex is-justify-content-space-between">
  <p style="width: 80%;" class="block is-family-code ml-5 is-size-5"><%=@author.biography%></p>
  </div>
</div>
<div class="grid is-col-min-12 mt-5">
  <% @books.each do |book| %>
    <div class="cell ml-5">
      <img style="width: 180px; height: 280px; object-fit: cover;"
      src="https://covers.openlibrary.org/b/id/<%= book.cover_identifier %>-M.jpg"
      alt="<%= book.title %> Cover Art">
      <p><%= link_to book.title, book %></p>
    </div>
    <% end %>
</div>
